@font-face {
    font-family: 'Ubuntu Regular';
    src: url("../source/fonts/UbuntuRegular.woff") format("woff"), url("../source/fonts/UbuntuRegular.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Ubuntu Bold';
    src: url("../source/fonts/UbuntuBold.woff") format("woff"), url("../source/fonts/UbuntuBold.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: 'Ubuntu Medium';
    src: url("../source/fonts/UbuntuMedium.woff") format("woff"), url("../source/fonts/UbuntuMedium.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

/**********************************************************************************************************************
********** general
***********************************************************************************************************************/

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 1.4;
    color: #000000;
    font-family: 'Ubuntu Medium', sans-serif;
}
.wrapper {
    position: relative;
    background: transparent url('../source/images/background.jpg') repeat-y;
    background-size: 100% auto;
    min-height: 100vh;
    padding-top: 195px;
    padding-bottom: 256px;
}
.wrapper-inner {
    width: 1230px;
    margin: 0 auto;
    position: relative;
}
.wrapper-inner:after, .clearfix:after {
    content: '';
    display: block;
    clear: both;
}

.image-wrap {
    display: block;
    position: relative;
    overflow: hidden;
}
img {
    display: block;
    width: 100%;
    height: auto;
}
.image-wrap img {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 0;
}

h1 {

}
h2 {
    font-size: 27px;
    color: #243e45;
}
h3 {

}
h4 {

}

a:hover {
    text-decoration: none;
}

a, button {
    cursor: pointer;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    -webkit-appearance: none;
}

a:hover {
    text-decoration: none;
}
a:active, a:focus {
    outline: none;
}

button, button:hover, button:active {
    outline: none;
    border: none;
}
button::-moz-focus-inner {
    outline: none;
    border: none;
}
input:focus, text:focus {
    outline: none;
}

fieldset {
    display: block;
    width: 100%;
    border: none;
}

label {
    display: block;
    width: 100%;
}
label input {
    display: block;
    width: 100%;
    height: 100%;
    border: none;
    padding: 0 25px;
}

input::-webkit-input-placeholder {color: #000000;font-size: 14px;}
input::-moz-placeholder {color: #000000;font-size: 14px;}
input:-moz-placeholder {color: #000000;font-size: 14px;}
input:-ms-input-placeholder {color: #000000;font-size: 14px;}

input:focus::-webkit-input-placeholder {color: transparent;}
input:focus::-moz-placeholder {color: transparent;}
input:focus:-moz-placeholder {color: transparent;}
input:focus:-ms-input-placeholder {color: transparent;}

textarea {
    resize: none;
}

textarea::-webkit-input-placeholder {color: #000000;}
textarea::-moz-placeholder {color: #000000;}
textarea:-moz-placeholder {color: #000000;}
textarea:-ms-input-placeholder {color: #000000;}

textarea:focus::-webkit-input-placeholder {color: transparent;}
textarea:focus::-moz-placeholder {color: transparent;}
textarea:focus:-moz-placeholder {color: transparent;}
textarea:focus:-ms-input-placeholder {color: transparent;}

.left-column {
    float: left;
}
.right-column {
    float: right;
}

/**********************************************************************************************************************
********** header
***********************************************************************************************************************/

header[role='banner'] {
    display: block;
    width: 100%;
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    top: 0;
}

/**********************************************************************************************************************
********** header top
***********************************************************************************************************************/

.header-top {
    height: 48px;
    background: #818181 url('../source/images/background-header-top.png') repeat-x left top;
}
.header-top .wrapper-inner {
    padding-left: 230px;
}

/* custom-select */
.header-top .custom-select, .custom-select .title, .custom-select .current-value, .custom-select .current-value > div, .header-top .users-online {
    display: inline-block;
    vertical-align: middle;
}
.header-top .custom-select {
    margin-right: 32px;
    position: relative;
}
.header-top .custom-select:after, .header-top .custom-menu.menu-personal:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 5px solid #ffb73b;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    position: absolute;
    right: 5px;
    top: 22px;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
.header-top .custom-select.active:after, .header-top .custom-menu.menu-personal.active:after {
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}
.header-top .custom-select.select-city:before {
    content: '';
    display: block;
    width: 21px;
    height: 21px;
    background: transparent url('../source/images/sprite-icons-21.png') 0 0;
    position: absolute;
    left: 5px;
    top: 14px;
}
.custom-select .current-value {
    cursor: pointer;
    line-height: 48px;
    text-transform: uppercase;
}
.custom-select .select-header {
    padding: 0 20px 0 30px;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
.custom-select .select-header:hover, .custom-menu .control:hover {
    background: rgba(0, 0, 0, 0.3);
}
.custom-select .title {
    margin-right: 5px;
}
.custom-select .title, .users-online {
    line-height: 48px;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 12px;
}
.custom-select .value, .users-online .value {
    color: #ffb73b;
    font-size: 12px;
}
.users-online {
    padding-left: 25px;
    position: relative;
}
.users-online:before {
    content: '';
    display: block;
    width: 21px;
    height: 21px;
    background: transparent url('../source/images/sprite-icons-21.png') -21px 0;
    position: absolute;
    left: 0;
    top: 14px;
}

.custom-select .popup-select, .custom-menu .popup-menu {
    display: none;
    padding: 10px 15px;
    background: #ffffff;
    border: 1px solid #ffb73b;
    position: absolute;
    right: 0;
    top: 58px;
    z-index: 1;
    min-width: 150px;
}
.custom-select .popup-select:before, .custom-menu .popup-menu:before {
    content: '';
    width: 10px;
    height: 10px;
    border-left: 1px solid #ffb73b;
    border-top: 1px solid #ffb73b;
    background: #ffffff;
    position: absolute;
    right: 20%;
    top: -6px;
    z-index: 2;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.custom-select .popup-select .item {
    border-bottom: 1px solid #ffb73b;
    text-align: right;
}
.custom-select.select-lang .popup-select .item {
    padding-right: 30px;
    position: relative;
}
.custom-select .popup-select .item:last-of-type {
    border-bottom: none;
}
.custom-select .flag {
    width: 16px;
    height: 12px;
    background: transparent url('../source/images/sprite-flags.png') no-repeat;
    position: absolute;
    left: 5px;
    top: 18px;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
.custom-select .flag-russian {
    background-position: -16px 0;
}
.custom-select .flag-latvia {
    background-position: -32px 0;
}
.custom-select .flag-british {
    background-position: 0 0;
}
.custom-select .popup-select .flag {
    top: 4px;
    left: 15px;
}
.custom-select .popup-select .item .flag {
    left: auto;
    right: 0;
    top: 4px;
}
.custom-select .popup-select .value {
    font-family: 'Ubuntu Bold', sans-serif;
    color: #000000;
    font-size: 9px;
    line-height: 20px;
    text-transform: uppercase;
    cursor: pointer;
}
.custom-select .popup-select .item.chosen .value {
    cursor: not-allowed;
    color: #818181;
}
.custom-select .popup-select .item:hover .value {
    color: #ffb73b;
}
.custom-select .popup-select .item:hover .flag {
    right: 5px;
}
.custom-select .popup-select .item.chosen:hover .flag {
    right: 0;
}

/* custom-menu */

.header-top .personal-block {
    float: right;
}
.custom-menu {
    height: 48px;
    position: relative;
}
.custom-menu .control {
    cursor: pointer;
}
.custom-menu.menu-notices .control, .custom-menu.menu-messages .control {
    height: 48px;
    width: 47px;
}
.custom-menu.menu-notices .control:before, .custom-menu.menu-messages .control:before {
    content: '';
    display: block;
    width: 37px;
    height: 37px;
    background: transparent url('../source/images/sprite-icons-personal.png');
    position: absolute;
    margin: auto;
    top: 6px;
    left: 5px;
}
.custom-menu.menu-notices .control:before {
    background-position: 0 0;
}
.custom-menu.menu-messages .control:before {
    background-position: -37px 0;
}
.custom-menu .control .value {
    display: block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    font-family: 'Ubuntu Bold', sans-serif;
    font-size: 9px;
    color: #ffffff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    background: #e22626;
    border: 1px solid #818181;
    position: absolute;
    top: 7px;
    right: 0;
}
.custom-menu.menu-notices .control .value {
    right: 4px;
}
.menu-messages {
    margin-right: 30px;
}

.menu-personal .control {
    padding: 0 20px 0 5px;
}
.menu-personal .control .avatar {
    display: inline-block;
    vertical-align: middle;
    width: 32px;
    height: 32px;
    border: 2px solid #ffffff;
    margin-right: 5px;
}
.menu-personal .control .nickname {
    display: inline-block;
    vertical-align: middle;
    font-family: 'Ubuntu Bold', sans-serif;
    font-size: 12px;
    color: #ffb73b;
    line-height: 48px;
    text-transform: uppercase;
}

.header-top .custom-menu {
    float: left;
}

.custom-menu.menu-notices .popup-menu, .custom-menu.menu-messages .popup-menu {
    padding: 10px 0;
    right: -45px;
}
.custom-menu.menu-notices .popup-links, .custom-menu.menu-messages .popup-links {
    width: 270px;
    height: 272px;
    overflow: auto;
    padding: 0 0 0 15px;
}
.mCSB_inside>.mCSB_container {
    margin-right: 15px;
}
.mCSB_scrollTools {
    width: 15px;
    opacity: 1;
}
.mCSB_scrollTools .mCSB_draggerRail {
    opacity: 0;
}
.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    width: 3px;
    background: #ffb73b!important;
    border-top: 5px solid #ffffff;
    border-bottom: 5px solid #ffffff;
}
.custom-menu.menu-notices .notice, .custom-menu.menu-messages .message {
    display: block;
    padding: 10px 0 0;
    border-top: 1px solid #ffb73b;
    border-bottom: 10px solid #ffffff;
    height: 68px;
    overflow: hidden;
    font-size: 12px;
    text-decoration: none;
}
.custom-menu.menu-notices .notice:hover, .custom-menu.menu-messages .message:hover {
    color: #ffb73b;
}
.custom-menu.menu-notices .notice:first-of-type, .custom-menu.menu-messages .message:first-of-type {
    border-top: none;
}
.menu-personal .popup-menu {
    width: 160px;
    height: 120px;
}
.menu-personal .popup-menu a {
    display: list-item;
    list-style: none;
    font-family: 'Ubuntu Bold', sans-serif;
    text-transform: uppercase;
    font-size: 9px;
    line-height: 20px;
    text-decoration: none;
}
.menu-personal .popup-menu a:hover {
    color: #ffb73b;
}
.menu-personal .popup-menu a:first-of-type {
    border-bottom: 1px solid #ffb73b;
}
.menu-personal .popup-menu a:last-of-type {
    border-top: 1px solid #ffb73b;
}

/**********************************************************************************************************************
********** header nav
***********************************************************************************************************************/

.header-nav {
    background: #ffffff;
}
.header-nav .logo {
    width: 200px;
    height: 175px;
    background: #ffffff;
    position: absolute;
    left: 0;
    top: -48px;
}
.header-nav .logo img {
    width: auto;
    height: auto;
    margin: auto;
    bottom: 0;
    right: 0;
}

nav {
    display: block;
    width: 100%;
    padding-left: 200px;
}
nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
}

nav ul li a {
    display: block;
    border: 1px solid transparent;
    height: 127px;
    text-decoration: none;
    text-align: center;
    line-height: 1.2;
}
nav ul li a .icon-nav {
    display: block;
    width: 45px;
    height: 45px;
    margin: 15px auto 10px;
    background: transparent url('../source/images/sprite-nav.png') no-repeat;
}
nav ul li:nth-child(2) a .icon-nav {background-position: -45px 0;}
nav ul li:nth-child(3) a .icon-nav {background-position: -90px 0;}
nav ul li:nth-child(4) a .icon-nav {background-position: -135px 0;}
nav ul li:nth-child(5) a .icon-nav {background-position: -180px 0;}
nav ul li:nth-child(6) a .icon-nav {background-position: -225px 0;}
nav ul li:nth-child(7) a .icon-nav {background-position: -270px 0;}
nav ul li:nth-child(8) a .icon-nav {background-position: -315px 0;}

nav ul li a:hover {
    background: #ffb73b;
}

/**********************************************************************************************************************
********** footer
***********************************************************************************************************************/

footer[role='contentinfo'] {
    display: block;
    width: 100%;
    background: #818181;
    padding: 45px 0;
    position: absolute;
    left: 0;
    bottom: 0;
}

.footer-info {
    float: left;
    width: 360px;
}
.footer-info .logo {
    width: 120px;
    height: 120px;
    background: #ffffff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    position: relative;
    float: left;
    margin-right: 25px;
}
.footer-info .logo img {
    width: 105px;
    height: auto;
    position: absolute;
    left: 15px;
    bottom: 10px;
}
.copyrights {
    font-family: 'Ubuntu Bold', sans-serif;
    color: #ffffff;
    padding: 10px 0;
    line-height: 1.2;
}
.tags {
    font-family: 'Ubuntu Regular', sans-serif;
    color: #ffffff;
    line-height: 1.3;
}

.footer-contacts {
    display: block;
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 25px;
}
.footer-contacts a {
    display: inline-block;
    vertical-align: middle;
    color: #ffffff;
    font-family: 'Ubuntu Regular', sans-serif;
}
.footer-contacts a:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    width: 21px;
    height: 21px;
    background: transparent url('../source/images/sprite-icons-21.png') no-repeat;
    color: #ffffff;
    font-family: 'Ubuntu Regular', sans-serif;
    margin: 0 5px 0 10px;
}
.footer-contacts a.skype:before {background-position: -126px 0;}
.footer-contacts a.email:before {background-position: -105px 0;}
.footer-contacts a.fb:before {margin-right: 0;background-position: -147px 0;}

.footer-contacts a:hover {
    text-decoration: none;
}
.footer-contacts a.skype:hover:before {background-position: -231px 0;}
.footer-contacts a.email:hover:before {background-position: -210px 0;}
.footer-contacts a.fb:hover:before {background-position: -252px 0;}

.footer-links {
    display: block;
    float: left;
    margin-left: 45px;
}
.footer-info + .footer-links {
    margin-left: 65px;
}
.footer-links h4 {
    color: #ffb73b;
}
.footer-links ul li {
    list-style: none;
    margin-top: 5px;
}
.footer-links ul li a {
    font-family: 'Ubuntu Regular', sans-serif;
    color: #ffffff;
}
.footer-links ul li a:hover {
    text-decoration: none;
}

/**********************************************************************************************************************
********** aside
***********************************************************************************************************************/

.content-block {
    margin: 0 auto 40px;
}

aside {
    display: block;
    width: 336px;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    background: #818181;
}

.categories .sub-categories, .categories .links {
    display: none;
}
.categories .sub-categories {
    z-index: 10;
}

.categories li {
    list-style: none;
    position: relative;
}

.categories > li > a, .sub-categories > li > a, .sub-categories .links li a {
    display: block;
    width: 336px;
    height: 50px;
    border-bottom:1px solid #ffffff;
    font-family: 'Ubuntu Bold', sans-serif;
    font-size: 12px;
    color: #ffffff;
    text-transform: uppercase;
    text-decoration: none;
    line-height: 50px;
    padding: 0 40px 0 60px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
}
.categories > li:last-child > a {
    border-bottom: none;
}
.categories > li > a:after, .categories .sub-categories > li > a:after {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 5px solid #ffb73b;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 20px;
}
.icon-category {
    display: block;
    width: 32px;
    height: 32px;
    position: absolute;
    left: 15px;
    top: 9px;
    background: transparent url('../source/images/sprite-categories.png') no-repeat 0 0;
}
.categories > li > a:before {
    content: '';
    display: block;
    width: 7px;
    background: #ffb73b;
    position: absolute;
    left: 0;
    top: 26px;
    bottom: 26px;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

.icon-category.icon-category-ematerials {background-position: 0 0;}
.icon-category.icon-category-house {background-position: 0 -32px;}
.icon-category.icon-category-tools {background-position: 0 -64px;}
.icon-category.icon-category-condition {background-position: 0 -96px;}
.icon-category.icon-category-warm {background-position: 0 -128px;}
.icon-category.icon-category-sanitarium {background-position: 0 -160px;}
.icon-category.icon-category-doors {background-position: 0 -192px;}
.icon-category.icon-category-bmaterials {background-position: 0 -224px;}
.icon-category.icon-category-otdmaterials {background-position: 0 -256px;}
.icon-category.icon-category-bchemistry {background-position: 0 -288px;}
.icon-category.icon-category-machines {background-position: 0 -320px;}
.icon-category.icon-category-services {background-position: 0 -352px;}
.icon-category.icon-category-design {background-position: 0 -384px;}
.icon-category.icon-category-projects {background-position: 0 -416px;}
.icon-category.icon-category-building {background-position: 0 -448px;}
.icon-category.icon-category-communications {background-position: 0 -480px;}
.icon-category.icon-category-inner {background-position: 0 -512px;}

.categories > li > a:hover {
    color: #000000;
    background: #ffffff;
}
.categories > li > a:hover .icon-category, .categories .sub-categories > li > a:hover .icon-category {
    background-position-x: -32px;
}
.categories > li > a:hover:after {
    border-left: 5px solid #000000;
}
.categories > li > a:hover:before {
    top: 1px;
    bottom: 1px;
}
.categories > li:hover .sub-categories {
    display: block;
}

.categories .sub-categories, .categories .sub-categories .links {
    position: absolute;
    left: 336px;
    top: 0;
    border: 1px solid #d7d7d7;
    border-left: none;
}
.categories .sub-categories > li > a {
    background: #ffffff;
    border: 1px solid transparent;
    color: #000000;
}
.categories .sub-categories > li > a .icon-category {
    background-position-x: -64px;
}
.categories .sub-categories > li > a:after {
    border-left: 5px solid #000000;
}

.categories .sub-categories > li > a:hover {
    border-right: 1px solid transparent;
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;
}
.categories .sub-categories > li:first-child > a:hover {
    border-top: none;
}
.categories .sub-categories > li:last-child > a:hover {
    border-bottom: none;
}
.categories .sub-categories > li > a:hover:after {
    display: none;
}
.categories .sub-categories > li:hover:before {
    content: '';
    display: block;
    width: 1px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -1px;
    background: #ffffff;
    z-index: 1;
}

.categories .sub-categories > li:hover .links {
    display: block;
    left: 337px;
}
.categories .sub-categories > li .links {
    background: #ffffff;
    outline: 1px solid #d7d7d7;
    border: none;
}
.sub-categories .links li a {
    display: block;
    width: 301px;
    margin-left: 35px;

    padding-left: 0;
    border-top: 1px solid #d7d7d7;
    color: #000000;
}
.sub-categories .links li a:hover {
    color: #818181;
}
.sub-categories .links li:first-child a {
    border-top: none;
}

/* best-sellers */

.best-sellers {
    margin-top: 20px;
    text-align: center;
}
.best-sellers .title {
    height: 48px;
    line-height: 48px;
    font-family: 'Ubuntu Bold', sans-serif;
    text-transform: uppercase;
    font-size: 17px;
    background: url('../source/images/background-best-sellers.png') center;
    background-size: cover;
    text-shadow: 1px 1px rgba(255, 255, 255, 1);
    margin-bottom: 15px;
}

.best-sellers ul li {
    display: inline-block;
    vertical-align: top;
    margin: 15px;
}
.seller-photo {
    width: 115px;
    height: 115px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 5px solid #ffffff;
    margin-bottom: 20px;
}
.seller-name {
    color: #ffffff;
    font-size: 15px;
}

/* banner */

.banner {
    background: #166478;
    width: 276px;
    border: 2px solid #ffffff;
    margin: 30px auto 0;
    -webkit-box-shadow: inset 0 0 15px 1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: inset 0 0 15px 1px rgba(0, 0, 0, 0.25);
    box-shadow: inset 0 0 15px 1px rgba(0, 0, 0, 0.25);
    position: relative;
    text-align: center;
}
.banner h2 {
    font-family: 'Ubuntu Bold', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    color: #ffffff;
    line-height: 1.2;
    position: absolute;
    left: 20px;
    right: 20px;
    top: 30px;
}
.banner .number {
    text-align: center;
    font-size: 32px;
    line-height: 1;
    width: 150px;
    height: 150px;
    padding-top: 25px;
    background: rgba(255, 255, 255, 0.9);
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 180px;
}
.banner .number span {
    font-family: 'Ubuntu Bold', sans-serif;
    font-size: 63px;
    line-height: 1;
}
.banner .tagline {
    font-family: 'Ubuntu Bold', sans-serif;
    font-size: 15px;
    color: #ffffff;
    padding: 0 20px;
    margin: 50px 0 20px;
}
.banner button {
    font-family: 'Ubuntu Bold', sans-serif;
    font-size: 15px;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.6);
    padding: 15px 40px;
    margin-bottom: 50px;
    background: transparent url('../source/images/background-news-large-time.png') no-repeat;
    background-size: cover;
}
.banner button:hover {
    background: #818181;
    text-shadow: none;
    color: #ffffff;
}

/**********************************************************************************************************************
********** page main
***********************************************************************************************************************/

main {
    display: block;
    width: 100%;
    padding-left: 356px;
}

main section {
    display: block;
    width: 100%;
    background: #ffffff;
    margin-top: 20px;
    padding: 20px;
}

main section h2 {
    float: left;
}

.section-header {
    margin-bottom: 25px;
}

.button-yellow {
    display: inline-block;
    font-family: 'Ubuntu Bold', sans-serif;
    font-size: 12px;
    background: #ffb73b;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 15px 10px 35px;
    position: relative;
    float: right;
}
.button-yellow:before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 5px solid #000000;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 20px;
}
.button-yellow:hover {
    background: #818181;
    color: #ffffff;
}
.button-yellow:hover:before {
    border-left: 5px solid #ffb73b;
}

    /* form-search */

.form-search {
    display: block;
    width: 100%;
    padding: 30px 50px;
    background: transparent url('../source/images/background-search.jpg') no-repeat center;
    background-size: cover;
}
.form-search .title {
    font-family: 'Ubuntu Bold', sans-serif;
    text-transform: uppercase;
    font-size: 15px;
    text-shadow: 1px 1px rgba(255, 255, 255, 1);
    margin-bottom: 15px;
}
.form-search label {
    height: 50px;
    float: left;
    width: calc(100% - 140px);
}
.form-search button[type='submit'] {
    display: block;
    float: left;
    width: 140px;
    height: 50px;
    background: #000000 url('../source/images/background-button-black.png') no-repeat;
    background-size: cover;
    color: #ffffff;
    text-transform: uppercase;
    padding-left: 20px;
    position: relative;
}
.form-search button[type='submit']:before {
    content: '';
    display: block;
    width: 21px;
    height: 21px;
    background: transparent url('../source/images/sprite-icons-21.png') no-repeat -63px 0;
    position: absolute;
    top: 14px;
    left: 20px;
}
.form-search button[type='submit']:hover {
    background: #166478 url('../source/images/background-button-black.png') no-repeat;
    background-size: cover;
}
.form-search button[type='submit']:hover:before {
    background: transparent url('../source/images/sprite-icons-21.png') no-repeat -273px 0;
}
.form-search p {
    font-size: 12px;
    margin-top: 15px;
}
.form-search p span {
    font-size: inherit;
}

/* news */
.news-large, .news-small li {
    position: relative;
}
.news-small li {
    display: block;
    width: 49%;
    margin-top: 2%;
    float: left;
}
.news-small li:nth-child(2n) {
    margin-left: 2%;
}
.news-large .image-wrap {
    width: 100%;
    padding-top: 41%;
}
.news-small .image-wrap {
    width: 100%;
    padding-top: 38.54%;
}
.news-large .news-category, .news-small .news-category {
    background: rgba(0, 0, 0, 0.8);
    padding: 10px 20px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 12px;
    position: absolute;
    left: 30px;
    top: 20px;
    z-index: 1;
}
.news-large time {
    display: block;
    width: 140px;
    height: 50px;
    background: transparent url('../source/images/background-news-large-time.png') no-repeat;
    background-size: cover;
    font-size: 15px;
    line-height: 50px;
    padding-left: 45px;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.5);
    position: absolute;
    left: 30px;
    top: -50px;
}
.news-large time:before, .news-small time:before {
    content: '';
    display: block;
    width: 21px;
    height: 21px;
    background: transparent url('../source/images/sprite-icons-21.png') no-repeat -84px 0;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 15px;
}
.news-large h3, .news-small h4 {
    display: block;
    padding: 20px 30px;
    background: rgba(0, 0, 0, 0.7);
    font-size: 20px;
    color: #ffffff;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}
.news-small .news-category {
    font-size: 10px;
    padding: 7px 15px;
    position: absolute;
    left: 10px;
    top: 10px;
}
.news-large h3 a, .news-small h4 a {
    color: inherit;
    font-size: inherit;
}
.news-large h3 a:hover, .news-small h4 a:hover {
    color: #ffcb35;
}
.news-small time {
    font-size: 12px;
    color: #ffcb35;
    position: absolute;
    left: 35px;
    line-height: 1.5;
}
.news-small time:before {
    background-position: -168px 0;
    left: -23px;
}
.news-small h4 {
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 20px 25px 20px 110px;
}

/* products new */

.products-list li {
    display: block;
    float: left;
    width: 23.5%;
    margin-right: 2%;
    border-left: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
}
.products-list li:hover {
    -webkit-box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
}
.products-list li:nth-child(4n) {
    margin-right: 0;
}

.products-list .image-wrap {
    width: 100%;
    padding-top: 84%;
}
.products-list li h3 {
    display: block;
    height: 42px;
    text-align: center;
    overflow: hidden;
    margin: 10px 0;
}
.products-list li h3 a {
    font-family: 'Ubuntu Bold', sans-serif;
    font-size: 15px;
    text-transform: uppercase;
}
.products-list li h3 a:hover {
    color: #166478;
}
.sail-info .current-cost, .sail-info .discount {
    display: inline-block;
    vertical-align: middle;
    margin-left: 15px;
}
.sail-info .current-cost,.sail-info .current-cost span {
    font-family: 'Ubuntu Bold', sans-serif;
    font-size: 17px;
}
.sail-info .discount {
    font-family: 'Ubuntu Bold', sans-serif;
    font-size: 10px;
    padding: 3px 5px;
    background: #e22626;
    color: #ffffff;
    margin-left: 10px;
}
.sail-info .old-cost {
    float: left;
    font-family: 'Ubuntu Regular', sans-serif;
    font-size: 12px;
    color: #758285;
    text-decoration: line-through;
    margin-top: 7px;
    margin-left: 15px;
}
.sail-info .old-cost span {
    font-family: inherit;
    font-size: inherit;
    color: inherit;
}
.sail-info .seller-name {
    font-size: 10px;
    color: #758285;
    float: right;
    margin-top: 7px;
    position: relative;
    margin-right: 15px;
}
.sail-info .seller-name:before {
    content: '';
    display: block;
    width: 21px;
    height: 21px;
    position: absolute;
    top: -3px;
    left: -25px;
    background: transparent url('../source/images/sprite-icons-21.png') no-repeat -189px 0;
}
.products-list li .to-product {
    display: block;
    width: 100%;
    height: 40px;
    font-family: 'Ubuntu Bold', sans-serif;
    font-size: 15px;
    text-decoration: none;
    line-height: 40px;
    text-align: center;
    color: #000000;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.7);
    background: transparent url('../source/images/background-button-orange.png') no-repeat;
    background-size: cover;
    margin-top: 15px;
}
.products-list li .to-product:hover {
    text-shadow: none;
    color: #ffffff;
    background: transparent url('../source/images/background-button-gray.png') no-repeat;
    background-size: cover;
}

/* ads */

.ads .section-header {
    margin-bottom: 0;
}
.ads-list li {
    border-bottom:1px solid #e2e2e2;
    list-style: none;
    padding: 25px 0;
}
.ads-list li .left-column {
    width: 590px;
}
.ads-list li .right-column {
    width: 205px;
    text-align: right;
}

.ads-list h3 a {
    font-size: 19px;
}
.ads-list h3 a:hover {
    color: #818181;
}
.ad-text {
    color: #243e45;
    font-family: 'Ubuntu Regular', sans-serif;
    font-size: 12px;
    margin: 15px 0;
}
.ad-parameter {
    display: inline-block;
    vertical-align: bottom;
    font-size: 12px;
    text-transform: uppercase;
    color: #243e45;
    margin-right: 15px;
}
.ad-parameter a, .ad-parameter time {
    font-family: 'Ubuntu Bold', sans-serif;
    font-size: 12px;
}
.ad-parameter a:hover {
    color: #818181;
}
.ad-mark {
    display: inline-block;
    padding: 2px 5px;
    text-transform: uppercase;
    font-family: 'Ubuntu Bold', sans-serif;
    font-size: 10px;
    background: #166478;
    color: #ffffff;
}
.ad-mark.ad-unactive {
    background: #e5e5e5;
    color: #000000;
}

.ad-cost p {
    text-transform: uppercase;
}
.ad-cost .cost-value, .ad-cost .cost-value span {
    font-size: 27px;
    color: #166478;
}
.ads-list .make-proposal {
    display: block;
    width: 100%;
    height: 50px;
    background: transparent url('../source/images/background-button-blue.png') no-repeat;
    background-size: cover;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 10px;
}
.ads-list .make-proposal:hover {
    background: transparent url('../source/images/background-button-blue-hover.png') no-repeat;
    background-size: cover;
}

/* new-companies */

.companies-list li {
    display: block;
    float: left;
    width: 23.5%;
    margin-right: 2%;
    border: 1px solid #e7e7e7;
    text-align: center;
    background: #f4f4f4;
    position: relative;
}
.companies-list li:hover {
    -webkit-box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
}
.companies-list li:nth-child(4n) {
    margin-right: 0;
}

.company-mark {
    padding: 3px 5px;
    font-family: 'Ubuntu Bold', sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    position: absolute;
    top: 10px;
    left: 10px;
}
.company-mark.online {
    background: #166478;
    color: #ffffff;
}
.company-mark.offline {
    background: #e2e2e2;
    color: #000000;
}
.company-image {
    width: 100%;
    padding-top: 70%;
    background: #ffffff;
    border-bottom: 1px solid #e7e7e7;
}
.company-image img {

}
.company-name {
    display: block;
    padding: 0 15px;
    margin: 20px 0 10px;
}
.company-name a {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-family: 'Ubuntu Bold', sans-serif;
    font-size: 15px;
}
.company-name a:hover {
    text-decoration: none;
    color: #166478;
}
.company-services {
    font-size: 12px;
    color: #243e45;
    text-decoration: underline;
}
.to-company {
    display: inline-block;
    font-family: 'Ubuntu Bold', sans-serif;
    font-size: 15px;
    text-shadow: 1px 1px rgba(255, 255, 255, 0.6);
    padding: 15px 40px;
    background: transparent url('../source/images/background-news-large-time.png') no-repeat;
    background-size: cover;
    text-decoration: none;
    margin: 20px 0 30px;
}
.to-company:hover {
    background: #818181;
    color: #ffffff;
    text-shadow: none;
}